
  body{


    background-color:#223544;


  }


 a {
 color: #00ff29d4;
 cursor: pointer;
 text-decoration: underline;
}


           hr{
             display:block;
              background-color: inherit;
             border: none;
             border-top: 6px dotted #F2F2F2;


             height: 2px;
             width: 4%;





        }
h3{

color: #fbff00;





}
h1{

color: #c6f7e5;
/*border-style: groove;
border-radius: 6px;
border-color: #fbff00;
border-width: medium; 

*/





}
h2{

color: #c6f7e5;



}

a:link{

  color: #fbff00;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

a.last{

color: limegreen;
font-size: 30px;

}




a:visited{

color: #FF87B2;

}


a:hover{

  color: #2192FF;
  
  }

  a:active{        /*click karke rakhne se color ayega */
    color: coral;
  }
  





p{
  
color:#6bffcf;
font-size: 19px;
font-style: oblique;
word-spacing: 4px;
line-height: 25px;



}

p.info{

  text-indent: 30px;
  word-break: keep-all;
  

}



li{
color:#05ecee;
}
td{
 color:#01ddfb;
}
h4{

border-style: groove;
border-color: #fbff00; 
border-radius: 6px;
border-width: medium;
font-style: italic;
color:pink;
}
h4 {
 display: block;
 margin-block-start: 0.3299999999999983em;
 margin-block-end: 1.33em;
 margin-inline-start: 124px;
 margin-inline-end: 0px;
 font-weight: bold;
 font-size: 80px;
}
label{
 font-style: italic;
 font-weight: 900;
 color:#23eaec;
}
::marker{
color:white;
font-size: 25px;
}
center{
color:hsl(311, 100%, 73%);
}
table {

 tab-size: border= 8;
 display: table;
 border-collapse: separate;
 border-width: thick;
 box-sizing: border-box;
 text-indent: initial;
 border-spacing: 8px;
 border-color: white;
}
mark {
 background-color: hsl(90, 33%, 99%);
 color: black;
 
 

}


.branch{

  font-weight: 350;
   text-shadow: 2px 1px cyan,.5px 1px black;
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
